.ba-navbar{
    background-color: #3457A6 !important;
}

.nav-link{
    color: #ffffff !important;
}

.nav-link:hover{
    color: #E034B3 !important;
}

.cover-photo {
    width:100%;
    height:240px;
    object-fit:cover;
    margin-bottom: 20px;
}
.post-image {
    width:100%;
    height:320px;
    object-fit:cover;
    margin-bottom: 20px;
}

.header {
    margin-bottom: 10px;
}
.autonomy {
    color: #3457A6;
    font-family: Raleway, sans-serif;
    font-weight: 700;
}

.knowledge {
    color: #A63FAE;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    text-align: justify;
    text-align-last: justify;
}

.common {
    width: 100%;
    color: #20375B;
    font-family: Raleway, sans-serif;
    text-align: justify;
}

.common-last {
    color: #20375B;
    font-family: Raleway, sans-serif;
    margin-bottom: 30px;
    text-align: justify;
}

h4 {
    color: #3457A6;
    font-family: Raleway, sans-serif;
    font-weight: 700;
}

.footer{
    background-color: #3457A6;
    color: #FFFFFF;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-title{
    font-family: Raleway, sans-serif;
    font-weight: 700;
}